.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* .left-sidebar, 
.left-sidebar,
main {
  
} */

